<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Gallery</title>
</head>
<body>

    <form method="post" enctype="multipart/form-data">
        <input type="text" name="description" placeholder="Description">
        <input type="file" name="file">
        <input type="submit" value="Add">
    </form>

    <div><b>Pictures</b></div>
    <div th:each="image : ${images}">
        <div th:text="${image.description}">description</div>
        <div th:if="${image.filename != null}">
            <img th:src="@{/img/{file}(file=${image.filename})}">
        </div>
    </div>

</body>
</html>